html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* https://grtcalculator.com/ */
    font-size: 15px;
    line-height: 25px;

}
#wrapper {
    width: 1208px;
    margin-left: auto;
    margin-right: auto;
	padding: 15px;
}
footer {
    text-align: center;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 180%;
}
h3 {
    font-size: 160%;
}
menu {
    padding-left: 0px;
}
menu li {
    display: inline;
}

.red {
	color: red;
}

#intro {
	color: green;
}

/* f and z layout csss */
.fz_wrapper {
    display:flex;
}
.top_bar {
    align-items: center;
}
.top_bar img {
    /* calculated from wrapper width = 1208 */
    /* https://www.kostelijk.nl/thegoldenratiocalculator/index.php#formplace */
    height: 747px;
    width: 100%;
}
.side_bar_left {
    width: 20%;
    padding-right: 5%;
}
.side_bar_right{
    width: 20%;
    padding-left: 5%;
}
.fz_content {
    flex: 1 0 auto;
    width: 70%;
}